---
import Card from "./Card.astro";
---

<section id="proyectos" class="mb-20">
  <h2 class="text-3xl font-bold mb-6 text-center">Proyectos</h2>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-7xl mx-auto"
  >
    <Card
      title="Proyecto Venta de Casas Frontend"
      description="De mis primeros Proyectos, un frontend de una página de venta de casas.Con HTML, CSS y JavaScript."
      imageUrl="/imagen1.svg"
      altText="Proyecto Venta de Casas Frontend"
      link="https://neochocapic.github.io/casa/"
    />
    <Card
      title="Proyecto Consumo de API"
      description="Uso del consumo de API con JavaScript, HTML y CSS. y manejo de Promesas"
      imageUrl="/imagen3.svg"
      altText="Proyecto Consumo de API"
      link="https://neochocapic.github.io/Pokemon/"
    />
    <Card
      title="Primer Contacto con Backend"
      description="Un crud de productos con Node.js, Express y Mysql usando el motor de plantillas EJS"
      imageUrl="/imagen4.svg"
      altText="Primer Contacto con Backend"
      link="https://github.com/NEOCHOCAPIC/tiendaManga/tree/main"
    />
  </div>
</section>
