---
import Card from "./Card.astro";
---

<section id="proyectos" class="mb-20">
  <h2 class="text-3xl font-bold mb-6 text-center">Proyectos</h2>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-7xl mx-auto"
  >
    <Card
      title="Proyecto Venta de Casas Frontend"
      description="De mis primeros Proyectos, un frontend de una página de venta de casas.Con HTML, CSS y JavaScript."
      imageUrl="https://private-user-images.githubusercontent.com/129566811/379976961-f9e629c8-c6a2-4fa2-9f23-dcf92ef8e373.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3Mjk4MTg2NzQsIm5iZiI6MTcyOTgxODM3NCwicGF0aCI6Ii8xMjk1NjY4MTEvMzc5OTc2OTYxLWY5ZTYyOWM4LWM2YTItNGZhMi05ZjIzLWRjZjkyZWY4ZTM3My5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQxMDI1JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTAyNVQwMTA2MTRaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1iODFjZTM3ZjMyMDljYjI0NWI2MTk0YjYzNGIzYTNmYzNlOTEyMTgyNzg4ZGQ1MzFiNjMxZWRlOGYzMjVjYzE3JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.i23LB3ZVCPfW74CT_FG8xnyu3dzIJfHs9DrSp8uHEIk"
      altText="Proyecto Venta de Casas Frontend"
      link="https://neochocapic.github.io/casa/"
    />
    <Card
      title="Proyecto Consumo de API"
      description="Uso del consumo de API con JavaScript, HTML y CSS. y manejo de Promesas"
      imageUrl="https://private-user-images.githubusercontent.com/129566811/379976664-530116a7-289c-44b9-8a20-ac8306d579f9.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3Mjk4MTg1NzIsIm5iZiI6MTcyOTgxODI3MiwicGF0aCI6Ii8xMjk1NjY4MTEvMzc5OTc2NjY0LTUzMDExNmE3LTI4OWMtNDRiOS04YTIwLWFjODMwNmQ1NzlmOS5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQxMDI1JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTAyNVQwMTA0MzJaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1jZWE0NzM1MTdiYjFmNTVjNjdmYjZlM2QxZmY0YzFmMzljZDMwOGRjNDZjZGU3YWJjOTQ1ZTc0NjE5YThlOGE4JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.Mdna0AgXd8CiLmU9algSv1TYlEEPnXjFe0eOqzrEa2E"
      altText="Proyecto Consumo de API"
      link="https://neochocapic.github.io/Pokemon/"
    />
    <Card
      title="Primer Contacto con Backend"
      description="Un crud de productos con Node.js, Express y Mysql usando el motor de plantillas EJS"
      imageUrl="https://private-user-images.githubusercontent.com/129566811/379977279-63659fe4-8a31-428c-8aa0-640c4e08c6f4.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3Mjk4MTg4MDgsIm5iZiI6MTcyOTgxODUwOCwicGF0aCI6Ii8xMjk1NjY4MTEvMzc5OTc3Mjc5LTYzNjU5ZmU0LThhMzEtNDI4Yy04YWEwLTY0MGM0ZTA4YzZmNC5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQxMDI1JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTAyNVQwMTA4MjhaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1kNTk0NWY2ZTQxNmU0ODYyZGI0ZTI5YWM0YzU3MWY4ZTMzY2U2ZTM0MWQ2Nzg5MzQxNjMyYjc0NzA0ZTlkNjg4JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.y4D1kbj7IbWKXumpxaZVpaL9GSBBa8y0OTki02PXl9g"
      altText="Primer Contacto con Backend"
      link="https://github.com/NEOCHOCAPIC/tiendaManga/tree/main"
    />
  </div>
</section>
