---
// Importa el componente
import CardTec from "../components/CardTec.astro";
---

<section id="tecnologias" class="mb-20">
  <h2 class="text-3xl font-bold mb-6 text-center">Tecnologías</h2>
  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 max-w-2xl mx-auto"
  >
    <CardTec
      name="Node JS"
      iconSrc="https://skillicons.dev/icons?i=nodejs"
      alt="Icon Node JS"
    />
    <CardTec
      name="Express JS"
      iconSrc="https://skillicons.dev/icons?i=express"
      alt="Icon Express JS"
    />
    <CardTec
      name="JavaScript"
      iconSrc="https://skillicons.dev/icons?i=js"
      alt="JavaScript"
    />
    <CardTec
      name="MySQL"
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"
      alt="MySQL"
    />
    <CardTec
      name="HTML"
      iconSrc="https://skillicons.dev/icons?i=html"
      alt="HTML"
    />
  </div>
  <h2 class="text-3xl font-bold mb-6 text-center">Aprendiendo</h2>
  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 max-w-2xl mx-auto"
  >
    <CardTec
      name="Tailwind CSS"
      iconSrc="https://skillicons.dev/icons?i=tailwindcss"
      alt="Icon Node JS"
    />
    <CardTec
      name="TypeScript"
      iconSrc="https://skillicons.dev/icons?i=typescript"
      alt="Icon TypeScript"
    />
    <CardTec
      name="Astro"
      iconSrc="https://skillicons.dev/icons?i=astro"
      alt="Icon Astro"
    />
    <CardTec
      name="Git"
      iconSrc="https://skillicons.dev/icons?i=git"
      alt="Icon Git"
    />
  </div>
</section>
